includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    # The level 9 is the highest level
    level: 5

    universalObjectCratesClasses:
        - Illuminate\Http\Resources\Json\JsonResource

    ignoreErrors:
        - message: '#PHPDoc tag @var#'
          path: app/Providers/RouteServiceProvider.php
        - message: '#Paginator#'
          path: app/Repositories/Article.php
        - message: '#expected variable at offset 153#'
          path: app/Http/Controllers/CommentController.php
        - message: '#expected variable at offset 153#'
          path: app/Http/Controllers/ArticleController.php

    excludePaths:
        - app/Exceptions/Handler.php

    checkMissingIterableValueType: false
